# Server Configuration
PORT=5000

# Database Configuration
DB_HOST=burnix-1-bhagyeshsalvi698-b8de.g.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=AVNS_tQSgHBbDsbgWzHrhjgm
DB_NAME=burnix
DB_PORT=19736

# SSL Mode (Required for Aiven)
DB_SSL_MODE=REQUIRED

# JWT Secret
JWT_SECRET=12345678
